:root{
    --lorem-orange: #DB8C6A;
    --lorem-purple: #845FB3;
    --lorem-green: #8CBDAE;
    --lorem-white: #EBEBFF;
    --lorem-black: #111127;
    --lorem-gray: #C0C0CF;
    --lorem-blue: #225CB7;
}

@font-face {
    font-family: "lorem-handwritten";
    src: url(../storage/fonts/BalsamiqSans.ttf);
}
@font-face {
    font-family: "lorem-dotted";
    src: url(../storage/fonts/Codystar.ttf);
}
@font-face {
    font-family: "lorem-indie";
    src: url(../storage/fonts/IndieFlower.ttf);
}
@font-face {
    font-family: "lorem-formal";
    src: url(../storage/fonts/LeagueSpartan.ttf);
}
@font-face {
    font-family: "lorem-futuristic";
    src: url(../storage/fonts/Quantico.ttf);
}